*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  
}

.quiz--page{
  margin: 10px 30px;
}
.quiz--heading{
  margin: 10px 30px;

}
.quiz--answers{
  display: flex;
  list-style: none;
}
.quiz--choice{
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: lightcoral;
}