*{
  font-family: 'Karla', sans-serif;
}

h1{
  font-size: 1.5rem;
}

/* Layout */
section{
  max-width: 80%;
  margin: auto;
}

.quiz--answers{
  list-style: none;
  display: flex;
  padding-left: 0;
}

.quiz--choice{
  margin-right: 1em;
  background-color: white;
  border-radius: 50px;
  padding: 0.2rem 1rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.submit--button{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  background-color: #4D5B9E;
  color: white;
  border: none;
  padding: 1em 3em;
  border-radius: 0.5em;
}
